---
layout: default
---

<!-- Page Header -->
<header class="large-header">
    <div class="homepage_container demo">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
              <article class="name-article">
                <p class="name-article-heading" id="headline">Howdy!</p>
                <p class="content-article-heading" id="text">Let the neurons fire</p>
              </article>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {{ content }}

            <!-- Home Post List -->
            {% for post in site.posts limit : 5 %}

            <article class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% else %}
                    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                    {% endif %}
                </a>
                <p class="post-meta">Posted by
                    {% if post.author %}
                    {{ post.author }}
                    {% else %}
                    {{ site.author }}
                    {% endif %}
                    on
                    {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
                </p>
            </article>

            <hr>

            {% endfor %}

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
            </div>

        </div>
    </div>
</div>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>
<script src="assets/name_animation.js">
    // for(i=0;i<3;i++)
    // {
    //     headText.restart();
    //     pText.restart();
    //     setTimeout("",100);
    // }
</script>
